<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <title><%= title%> | User Auth</title>
</head>
<body>
   <h1>User Registration Page</h1>
   <form action="/signup" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button>Register User</button>
   </form>
   <a href="/signin">Sign In</a>
</body>
</html>